.vscode
build
CMakeUserPresets.json
compile_commands.json
.idea
.env
log
*.log

.cache
.vs
assets/meshes/**/*.glb
assets/meshes/**/*.exr
assets/meshes/**/*.ktx2
assets/meshes/**/*.ktx
assets/meshes/**/*.png
assets/meshes/**/*.jpg
assets/meshes/**/*.jpeg

assets/textures/**/*.exr
assets/textures/**/*.ktx2
assets/textures/**/*.ktx

