.vscode
build
CMakeUserPresets.json
compile_commands.json
.idea
.env
log
*.log

vma_stats.json

.cache
.vs
assets/meshes/**/*
!assets/meshes/**/*.dymesh

assets/textures/**/*.exr
assets/textures/**/*.ktx2
!assets/textures/env/*.ktx2
assets/textures/**/*.ktx

assets/binary/**/*

assets/screenshots/

dockyard_crash*
